<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://www.google.com/fonts#QuickUsePlace:quickUse/Family:Droid+Sans">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Previsão do Tempo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>

<div class="form-row mt-2">
  <div class="col-3">

  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <label class="white-color"><b>Escolha um país:</b></label>
      <ng-select class="custom" [(ngModel)]="this.selectedCountry" (change)="CountrySelectec()">
        <ng-option *ngFor="let country of this.countryList" [value]="country.isoCode">{{country.isoCode}} -
          {{country.name}}</ng-option>
      </ng-select>
    </div>
    <div class="col-md-4">
      <label class="white-color"><b>Escolha um estado:</b></label>
      <ng-select [disabled]="!this.selectedCountry" [(ngModel)]="this.selectedState" (change)="StateSelected()">
        <ng-option *ngFor="let state of this.statesList" [value]="state.isoCode">{{state.isoCode}} - {{state.name}}
        </ng-option>
      </ng-select>
    </div>

    <div class="col-md-4">
      <label class="white-color"><b>Escolha uma cidade:</b></label>
      <ng-select [disabled]="!this.selectedState" [(ngModel)]="this.selectedCity" (change)="GetWeatherForecast()">
        <ng-option *ngFor="let city of this.citiesList" [value]="city.name">{{city.name}}</ng-option>
      </ng-select>
    </div>

  </div>
  <div class="row mt-3">
    <div class="col-md-4 space-bottom" *ngFor="let day of this.dataWeather.daily; let i = index">
      <div class="weather">
        <div class="city">
          <h1 *ngIf="this.selectedCity && this.selectedState && this.selectedCountry">{{this.selectedCity}} -
            {{this.selectedState}}, {{this.selectedCountry}}</h1>
          <h1 *ngIf="!(this.selectedCity && this.selectedState && this.selectedCountry)">-</h1>
        </div>
        <div class="clearfix"></div>

        <div class="cont">
          <div class="icon">

            <div *ngIf="day.weather[0].id >= 200 && day.weather[0].id <= 232" class="stormy"></div>
            <div *ngIf="day.weather[0].id >= 300 && day.weather[0].id <= 531" class="rainy"></div>
            <div *ngIf="day.weather[0].id >= 600 && day.weather[0].id <= 622" class="snowy"></div>
            <div *ngIf="day.weather[0].id !== 800 && (day.weather[0].id > 700 && day.weather[0].id <= 804)" class="cloudy"></div>
            <div *ngIf="day.weather[0].id === 800" class="sunny"></div>

          </div>
          <div class="temp">
            <div class="current">
              {{day.temp.day}}&deg;
            </div>
            <div class="high">
              Máx: {{day.temp.max}}&deg;
            </div>
            <div class="low">
              Min: {{day.temp.min}}&deg;
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="date">
            <p>{{ moment().add(i, 'day').format("DD/MM/YYYY") }}</p>
          </div>
        </div>
      </div> <!-- weather -->
    </div>

    <div *ngIf="this.dataWeather.daily.length <= 0 && !this.showSpinner">
      <div class="wrapper">
        <div class="sun"></div>
        <div class="cloud">
          <div class="cloud1">
            <ul>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
          <div class="cloud1 c_shadow">
            <ul>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>

        <div class="cloud_s">
          <div class="cloud1">
            <ul>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
          <div class="cloud1 c_shadow">
            <ul>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>

        <div class="cloud_vs">
          <div class="cloud1">
            <ul>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
          <div class="cloud1 c_shadow">
            <ul>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>
        <div class="haze"></div>
        <div class="haze_stripe"></div>
        <div class="haze_stripe"></div>
        <div class="haze_stripe"></div>
        <div class="thunder"></div>
        <div class="rain">
          <ul>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
        <div class="sleet">
          <ul>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Region - Spinner -->
<div [hidden]="!this.showSpinner" class="spinner-container">
  <div class="spinner-align">
    <div class="spinner-custom">
      <div class="loading">
        <div class="l1">
          <div></div>
        </div>
        <div class="l2">
          <div></div>
        </div>
        <div class="l3">
          <div></div>
        </div>
        <div class="l4">
          <div></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End-Region - Spinner -->
